<h5> Name of the city :    <%= @city.name %></h5> </br>

<p>Here are all the gossip which has been written by an author living in this city</p>



		<% Gossip.where(user_id:"#{@city_users_id}").each do |i|%>



        <% end %>

       <%=  @good %>

   
  








